body {
    background:  whitesmoke;
    color: #1a1a1a;
    font-family: 'Domine', serif;
    font-weight: 200;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #1a1a1a;
        color: whitesmoke;
    }
}

.header-title {
    font-family: 'VT323', monospace;
    opacity: .55;
    font-size: 4.5rem;
    font-weight: 200;
    /*letter-spacing: .125em;*/
    line-height: 80%;
    max-width: 1024px;
}

