package templates

templ Home() {
    @Shell("Home", "Home page") {
       @Header()
       <main class="font-display" style="font-size: 24px">

        projects
        - elysia
        - vono
        - blackberry

        work
        - house of the dragon
        - call of duty
        - droplab.com
        - chefs table

        thoughts
        - loving results instead of tools
        - your first elysia project
        - i love html

       </main>
       @Footer()
    }
}