<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <script type="module" src="/static/blackberry.js"></script>
</head>
<body>
    <template component="my-counter" props="count, msg">
        <script setup>
            let count = $reflect('count', Number)

            const $state = {
                count,
            }
        </script>
        <style scoped>
            button {
                color: red;
            }
        </style>
        <h1> {props.msg} </h1>
        <button @click="count++"> { count } </button>
        <p><slot></slot></p>
    </template>
    <my-counter count="5" msg="Hello world!">
        hello
    </my-counter>
</body>
</html>